body {
    background: #FFFFFF; /* For browsers that do not support gradients */
    background: linear-gradient(to right,peachpuff, SeaShell  30%,white 50%, SeaShell  70% , peachpuff); /* Standard syntax */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #000000;
    overflow: auto;
    vertical-align: top;
    padding-bottom : 50px;
}

h1 {
    color : #DD0000;
    font-size : 14pt;
}

h2 {
    color : #DD0000;
    font-size : 12pt;

}

h2.logo {
    text-align: center;

    diplay : block;
    background-image: url("images/ukgr.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    color : #DD0000;
    font-size : 12pt;
    text-align: center;
}

p {
    color : #200000;
    text-align: justify;
    text-justify: inter-word;
}

article {
    text-align: justify;
    text-justify: inter-word;
    color : #200000   ;
}

P img.story {
    width : 40%;
    float:right;
    margin-left:20px;
}

.red-orange-brown {
    background-image: linear-gradient(to right, red, orange 20%, brown 66%, gold);
    background-image: linear-gradient(to right, gold, brown 20%, orange 66%, BlanchedAlmond );
    color: transparent;
    -webkit-background-clip: text;
}


.blueToGold {
    background-image: linear-gradient(to right, brown  ,Chocolate   20%, orange 66%, BlanchedAlmond );
    color: transparent;
    -webkit-background-clip: text;
}

article.songs {
   text-align:center;
}

article.songs section {
    display: inline-block;
    text-align: left;
    margin-bottom: 15px;
}