<h2>Genezingsdienst</h2>
<p>
Het geestelijk advies van het UKGR Centrum dient als toevoeging gezien te worden 
bij de wetenschappelijk onderbouwde behandelingen die u wellicht volgt.
</p>
<p>
Het UKGR Centrum beweert geen mensen te kunnen genezen, maar 
gelooft dat God dat kan door de Macht van het Geloof.
</p>
<p>
Zodoende bieden wij onze praktische adviezen aan, aan degenen die met ziektes 
kampen, pijnen voelen of te maken hebben met hardnekkige gezondheidsklachten 
die, wel of niet, gediagnosticeerd kunnen worden.
</p>
<span>10:00 15:00 19:30</span> 