<div><span style="float:right;">10:00 &amp; 15:00</span><h2>Familie en Liefdesleven</h2></div>
<p>
Het huwelijk en het gezin zijn niet idealen die heel 
populair zijn in de hedendaagse samenleving.
</p>
<p>
Verwaarloos dit belangrijk fundament, dat door God gecreëerd werd, niet.
</p>
<p>
Wij weiden onze praktische adviezen er juist op toe en ondernemen
 acties, zodat elk conflict in dit gebied, opgelost kunnen worden!
</p>

<div><span style="float:right;">19:30</span><h2>De Liefdestherapie</h2></div>
<p>De Liefdestherapie is gericht op mensen die een gelukkige relatie willen hebben of de juiste persoon willen vinden. <br />
*alleen in Den Haag en Amsterdam Oost</p>