<h2>Bevrijdingsdienst</h2>
<p>
Het gevoel hebben om een eind te maken aan het leven, wanneer alles 
verloren lijkt te gaan en er ogenschijnlijk geen uitweg is, is 
een gedachte die door het verstand van veel mensen heen gegaan is. 
Daarom streven wij ernaar om op 
praktische wijze alle mensen te adviseren die naar ons toekomen e
n zich verhinderd voelen om vooruit te gaan in het leven.
</p>
<p>
Negatieve gedachten, depressie, verdriet, angsten, trauma’s, 
slapeloosheid, complexen, bezorgdheden of nervositeit zijn 
elementen die overwonnen dienen te worden en deze bijeenkomst 
kan de uitkomst daarvoor bieden!
</p>
<span>10:00 15:00 19:30</span> 