<h2>Bijbelstudie</h2>
<p>
De Geest die zich in het binnenste van elk mens bevind is zijn aandrijvingskracht, het element dat hem voortstuwt (of niet) om de dagelijkse obstakels te overwinnen en om de doelen te verwezenlijken die door het verstand geprojecteerd werden.
</p>

<p>
Om dit te kunnen, is het van immens belang om te leren hoe u uw geestelijk leven, innerlijke kracht, moed en vastberadenheid kunt ontwikkelen door middel van overpeinzing aan het Woord van God.
</p>

<span>Diensten: 10u, 15u en 19:30u*</span>

*De Avond van de Behoudenis 